[init]
    defaultBranch = main
[pull]
    rebase = false
[core]
    editor = nvim
[rerere]
    enabled = true
[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    amend = commit --amend
    undo = reset --soft HEAD~1
